@font-face {
  font-family: 'Rubik Bubbles';
  src: url('./fonts/RubikBubbles-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('./font/HelveticaNeueBoldCondensed.ttf');
  font-weight: bold;
}